In [ ]:
Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.5.3
1.25.2

In [ ]:
Persiapan Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                  columns=cols)
df

    A   B   C   D  E
0   3   4  15   5  9
1  11   1   3   7  9
2  10   7   6   8  7
3   9   1  13   6  8
4   1  13   1  11  1

In [ ]:
Akses nilai variabel pada query()

In [6]:
df.query('A > 10')

    A  B  C  D  E
1  11  1  3  7  9

In [7]:
rerata = df['A'].mean()
rerata

6.8

In [8]:
df.query('A > @rerata')

    A  B   C  D  E
1  11  1   3  7  9
2  10  7   6  8  7
3   9  1  13  6  8